#/usr/bin/env bash

# load nix
use flake

# use nix solc (the hardhat config that I've modified already uses this variable)
export SOLIDITY_PATH="nix develop --command which solc"

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local

